.navabar-items-container {
  width: 6rem;
  height: 100%;
}

.home {
  background-image: url('../../../assets/images/bg2.jpg');
}

.aboutme {
  background-image: url('../../../assets/images/bg6.jpg');
}

.education {
  background-image: url('../../../assets/images/bg7.jpg');
}
.experience {
  background-image: url('../../../assets/images/bg6.jpg');
}
.contact {
  background-image: url('../../../assets/images/bg5.jpg');
}
li {
  box-shadow: inset -5px 0px 13px #00000078;
  letter-spacing: .4rem;
  background-size: 100% 100%;
}
